@import '@fortawesome/fontawesome-free/css/all.css';

.main-page {
  position: relative;
  height: 100dvh;
  width: 100%;
  padding-inline: 30px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  opacity: 1;
  visibility: inherit;
}

@media (min-width: 1700px) {
  .main-page {
    padding-inline: 400px;
  }
}

 .text__content {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-content: flex-start;
  text-align: left;
  gap: 20px;
  flex-grow: 1;
  font-size: 0.7rem;
 }

 .text__content__info {
  width: 40%;
  text-align: left;
 }

 .development__title {
  opacity: 0.7;
 }

 .development__list {
  list-style-type: none;
 }

 .main__name {
  will-change: transform, opacity;
 }

 .main__name {
  overflow: hidden;
  width: 100%;
 }

 .main-page__name {
  margin: 0;
  text-align: left;
  font-size: 14vw; 
  line-height: 1.6;
  letter-spacing: -1vw;
  text-wrap: nowrap;
  width: 100%;
  opacity: 0.9;
 }

 .text__content__link {
  color: inherit;
  opacity: 0.8;
  cursor: pointer;
 }

 .text__content__link:hover,
 .text__content__link:focus {
   color: #ff7466;
   transform: scale(1.1);
   transition: transform 0.5s ease;
 } 

 .icons {
  display: flex;
  flex-direction: column;
  gap: 10px;
 }

 .fa-linkedin-in,
 .fa-github {
   color: #E5E5E5;
 }

 .fa-linkedin-in:hover,
 .fa-github:hover {
  color: #ff7466;
  transform: scale(1.2);
  transition: transform 0.5s ease;
 }

 @media (min-width: 780px) {
  .text__content {
    flex-direction: row;
     justify-content: space-between;
     align-items: flex-start;
     width: 100%;
     height: 100vh;
     font-size: 0.7rem;
  }

  .icons {
    gap: 20px;
  }
 }

 @media (min-width: 1700px) {
 .text__content {
  font-size: 1.1rem;
 }
 }
