* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: 'Uncut Sans';
  src: url(./fonts/Uncut-Sans-Regular.otf);
}

body {
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
  font-family: 'Uncut Sans', sans-serif;
  background-color: #181818;
  color:#E5E5E5;
  font-size: 13px;
  /* overflow: hidden; */
  -webkit-overflow-scrolling: touch;
}

.slides-wrapper {
  margin-top:63px;
}
 
.panel {
	width: 100%;
  min-height: calc(100vh - 64px);
  display: flex;
  justify-content: center;
  text-align: center;
  position: relative;
  box-sizing: border-box;
  /* overflow:hidden; */
}

.height {
  height: 200vh; 
}

@media (min-width: 370px) {
  .height {
    height: 250vh; 
  }
}

@media (min-width: 768px) {
  .height {
    height: 200vh; 
  }
}

@media (min-width: 1500px) {
  .height {
    height: 250vh; 
  }
}

.text__content-end {
  opacity: 0.8;
}

.loader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100dvh;
  background: #181818;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.loader_progress {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 10px;
  width: 5vw;
  background: #E5E5E5;
  transition: width 0.3s ease-in-out;
}

.loader_number {
  position: absolute;
  bottom: 20px;
  right: 20px;
  font-size: 8rem;
  font-weight: bold;
  color: #E5E5E5;
}



